body{
    background-color:black;
    color:white;
    
}

#contentFrame{
    width:70%;
    height: auto;
    margin: auto;
}
header{
    width: 100%;
    height: 80px;
}
nav{
    width: max-content;
    height: max-content;
    float: right;
    margin-top: 40px;
    margin-right: 50px;
}
nav > ul{
    margin: 0px;
}
nav > ul li{
    display: inline-block;
    margin-left: 40px;
}
nav > ul li a{
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
    color: orange;
    box-shadow: 1px 1px 2px white;
}
nav a:hover{
    color: white;
}
#logo{
    width: moz-fit-content;
    height: moz-fit-content;
    float: left;
    box-shadow: 1px 1px 2px orange;
    margin-top: 30px;
}

#logo  > img{
    width: 250px;
}

header button{
    font-size: 30px;
    background: black; 
    color: white;   
    opacity: 0.4;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    float: left;
    margin: 40px 0px 0px 315px;
}

header button:hover{
    opacity: 1;
    color: white;
}

.pfcolumn{
    height: 400px;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 100px;
}

#pfcolumn-left{
    width: 30%;
    background-color: whitesmoke;
    opacity: 0.3;
}

#pfcolumn-right{
    width: 69.5%;
    text-align: center;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-radius: 1%;
}

@keyframes example {
  0%   {font-size: 5px;}
  25%  {font-size: 10px;}
  50%  {font-size: 20px;}
  75%  {font-size: 30px;}
  100% {font-size: 40px;}
}
#h1{
    width: 100%;
    height: 50px;
    margin-top: 200px;
}
#h1 > h1{
    margin: 0px;
    text-align: center;
    font-size: 40px;
}

#h1 > #welcome{
     margin: 0px;
    text-align: center;
    font-size: 40px;
    animation: example 4s 1;
}

ins{
    text-decoration: none;
}
del{
    text-decoration: line-through;
    text-decoration-color: black;
    text-decoration-style: double;
}

article{
    margin-top: 50px;
    font-size: 20px;
    text-align: left;
}

section{
    height: max-content;
    padding: 0px;
}

footer{
    border-top: 2px solid whitesmoke;
    margin-top: 200px;

}

/*.caf{
    margin-left: 50px;
}
*/
#appreciation, #contact, #form{
    display: inline-block;
    margin: 20px 0px 0px 150px;
    text-align: center;
}

#form > label{
    margin-bottom: 10px;
}
#contact > a{
    color: whitesmoke;
    text-decoration-color: orangered;
}
#contact > a:hover{
    font-size: 20px;
}
#left-box, #right-box{
    width: 450px;
    height: 600px;
    display: inline-block;
    margin: 40px 5px 5px 130px;
    border: 2px solid rgb(66, 66, 66);
}

section > h1{
    margin-top: 130px;
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: orangered;
    text-decoration-style: double;

}

aside > img{
    width: inherit;
    height: 250px;
    opacity: 0.7;

}
aside > img:hover{
    opacity: 1;
}

h4{
    height: max-content;
    width: max-content;
    display: inline-block;
    margin-left: 70px;
    margin-top: 80px;
}

.skill{
    text-align: center;
    margin-top: 15px;
}

blockquote{
    margin: 0px;
    width: inherit;
    height: 150px;
    text-align: justify;
    overflow: auto;
    border-bottom: 1px solid orangered;
}

.article{
    margin-left: 80px;
    margin-top: 120px;
}

.article, img, p{
    display: inline-block;
}
.article > img{
    width: 200px;
    height: 150px;
    margin: 0px;
}

.article > p{
    float: right;
    margin: 10px 0px 0px 15px;
    width: 300px;
    height: 150px;
}
